#header {
  background: url('http://interfacelift.com/wallpaper/D47cd523/03325_valleyofthestars_1920x1080.jpg') no-repeat center center;
  @include background-size(cover);

  .container {
    height: 600px;

    & > .header-top {
      & > .header-top-inner {
        width: 80%;
        max-width: 800px;
        display: block;
        margin: 0 auto;
        padding: 55px 0;
        font-size: 14px;
        -webkit-animation: fadeintext 1s;
        -moz-animation: fadeintext 1s;

        & > h1 {
          font-size: 120%;
          & > a {
            color: white;
          }
        }

        & > .tagline {
          font-size: 110%;
          color: white;
        }
      }
    }

    & > .flexslider {
      background: none;
      border-radius: none;
      border: none;
      @include box-shadow(none);
      color: white;

      max-width: 800px;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      padding: 180px 0;
      height: 300px;

      .flex-caption {
        & > .flex-caption-inner {
          h3 {
            color: white;
          }
          p {
            color: rgb(254, 254, 254);
          }
        }
      }
    }

  }
}
