<!-- <div id="footer-container"> -->
<!--   <div id="footer-container-inside"> -->
<!--     <ul class="socials clearfix"> -->
<!--       <li><a class="facebook sympol" title='circletwitterbird' href="http://facebook.com"><i class="icon-facebook"></i></a></li> -->
<!--       <li><a class="twitter" href="http://twitter.com"><i class="icon-twitter"></i></a></li> -->
<!--       <li><a class="dribbble" href="http://dribbble.com"><i class="icon-dribbble"></i></a></li> -->
<!--       <li><a class="instagram" href="http://instagram.com"><i class="icon-instagram"></i></a></li> -->
<!--       <li><a class="mail" href="mailto:test@test.com"><i class="icon-envelope"></i></a></li> -->
<!--     </ul> -->
<!--   </div> -->
<!-- </div> -->
