<div class='container'>
  <div class="header-top">
    <div class="header-top-inner">
      <h1><a id="site-logo" href="{{ root_url }}/">{{ site.title }}</a></h1>
      <!-- <h5 class="tagline">{{site.subtitle}}</h5> -->
    </div>
  </div>

  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="flex-caption">
          <div class="flex-caption-inner">
            <h3>Steve Jobs</h3>
            <p>Why join the navy if you can be a pirate?</p>
            <p>&nbsp;</p>
        </div>
      </li>
    </ul>
  </div>
</div>

{% include custom/header.html %}
