#listings {
  border-top: 1px solid #e5e5e5;
  margin-top: 28px;
  list-style: none;
  font-size: 12px;
}

.ie #listings li.even-child, #listings li:nth-child(even) {
  background-color: #f5f5f5;
}

#listings li {
  border-bottom: 1px solid #e5e5e5;
}

#listings li>a {
  display: block;
  overflow: hidden;
  padding: 17px 11px;
  color: #222;
  padding: 16px 13px 12px 13px;
  @include transition(all .1s linear);
}
#listings li>a>span {
  min-height: 37px;
  display: block;
  position: relative;
}

#listings li img {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 13px;
  position: static;
  top: auto;
  left: auto;
}

#listings li .role {
  float: left;
  width: 350px;
  margin-right: 12px;
  position: relative;
  top: -3px;
}

#listings li .role h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 76%;
  margin-top: 0px;
}

#listings li .role h3 {
  position: static;
  top: auto;
  left: auto;
  width: auto;
}

#listings li .role h4 {
  font-weight: 600;
  color: #222;
  position: static;
  top: auto;
  left: auto;
  max-width: none;
  white-space: normal;
  overflow: visible;
  display: inline;
}

#listings li .role>span {
  display: inline;
  padding-left: .5em;
  color: #888;
}

#listings li .location {
  float: left;
  width: 145px;
  padding: 7px 0 7px 13px;
  position: relative;
  top: auto;
  left: auto;
  text-align: left;
  max-width: none;
  white-space: normal;
  overflow: visible;
}

#listings li .meta {
  position: relative;
  top: -1px;
}

#listings li .meta {
  float: right;
  text-align: right;
}

#listings li .meta .new, #listings li .meta .posted {
  display: inline;
}

span.new {
  color: #fff;
  background-color: #ff8f00;
  @include border-radius(2px);
  padding: 1px 5px;
  text-transform: uppercase;
  font-size: 9px;
}
