// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  width: 768px;
}

.entry-title, #content .blog-index article .entry-title {
  font-size: 1.6em;
  font-weight: bolder;
}

.entry-content {
  font-size: 16px;
}
